/*内容框的高度*/
#feature-item-info {
	min-height: 464px;
	position: relative;
	padding-bottom: 63px;
}
/*功能键灰色*/
#feature-item ul li a, #feature-item ul li a span {
	color: #DADADA
}
#feature-item-info div h3 {
	font-size: 18px;
	font-weight: 550;
	margin: 13px 30px 0px 35px;
	padding-bottom: 5px;
	border-bottom: 1px solid #DADADA;
}
#feature-item-info h3 i {
	font-size: 23px;
	margin: 15px 0px 13px 0;	
	padding-right: 5px;
}
/*自制下拉菜单头*/
#st-declaration-classify {
	position: relative;	
	float: right;
	list-style: none;
	font-size: 15.5px;
	color: #9D9D9D;
	margin-top: 20px;
	padding-right: 30px;
	letter-spacing: 1px;
	z-index: 111;
}
/*自制下拉菜单弹出内容*/
#st-declaration-classify li ul {
	position: absolute;
	display: none;
	list-style: none;
	font-size: 15px;
	padding: 7px 0;
	color: #9D9D9D;
	border-radius: 5px;
	border: 1px solid rgb(225,225,225);
	background: white;
	box-shadow: 0 7px 10px 0 rgba(28,31,33,.1);
	letter-spacing: 1px;
}
#st-declaration-classify li ul li a {
	text-decoration: none;
	color: gray;
	padding: 7px 15px;
	line-height: 25px;
}
#st-declaration-classify li ul li :hover {
	background: rgb(240,240,240);
	color: black;
}


#st-declaration-display ol li {
	position: relative;
	padding: 7px 0;
	font-size: 14px;
}
/*奇数行加背景*/
#st-declaration-display>ol>li:nth-child(odd) {
	background: #EDEDED;
}
/*地点定位*/
#st-declaration-display ol li span:nth-child(2) {
	position: absolute;
	left: 420px;
}
/*日期定定位*/
#st-declaration-display ol li span:nth-child(3) {
	position: absolute;
	left: 630px;
}
/*申报button*/
#st-declaration-display>ol>li>span>button {
	position: absolute;
	right: 0;
	top: 3px;
	height: 28px;
	font-size: 13px;
	padding: 5px 12px;
	background: white;
	border: 1px solid #DADADA;
}
#st-declaration-display>ol>li>span>button:hover {
	background: #006871;
	color: white;
}


/*展示区列表隐藏*/
#st-declaration-display>ol>li>ul{
    display: none;
}
/*隐藏内容区*/
#st-declaration-display ol li ul li {
	position: relative;
	left: -10px;
	list-style: none;
	color: gray;
    font-size: 12px;
    padding: 2px;
    margin: 3px 0;
    background: none;
}


/*展示区单独滚动，隐藏滚动条*/
#st-declaration-display {
	max-height: 341px;
	overflow-y: scroll;
	border-bottom: 1px solid #DADADA;
	margin: 0 30px 0 35px;
}
#st-declaration-display::-webkit-scrollbar {
	width:0;
}


/*#st-declaration-display {
	width: 100.05%;
	border-radius:5px;
}
#st-declaration-display tr th:first-child {
	border-top-left-radius: 5px;
}
#st-declaration-display tr th:last-child {
	border-top-right-radius: 5px;
	width: 120px;
}
#st-declaration-display tr th {
	width: 150px;
	text-align: center;
	background: #EDEDED;
	padding: 10px 0;
	font-size: 15px;
}

#st-declaration-display tr td {
	border-bottom: 1px dashed #DADADA;
	padding: 8px 30px;
	text-align: center;
}

#feature-item ul li a, #feature-item ul li a span {
	color: #DADADA
}

#st-declaration-display tr td button {

	height: 27px;
	font-size: 13px;
	margin: 0;
	padding: 4.5px 12px;
}
#st-declaration-display tr td button:hover {
	background: #006871;
	color: white;
}*/