/*行间距*/
#user-info-edit tr td, #user-info-edit tr th{
	padding: 5px 25px;
}
#user-info-edit tr>td>input, #user-info-edit tr>td>select {
	height: 28px;
}
#user-info-edit {
	margin: 10px 33px;
}


#feature-item-info {
	position: relative;
}

/*保存按钮*/
#user-info-form>button {
	position: absolute;
	top: 11px;
	right: 30px;
	background: #006871;
	font-size: 15px;
	color: white;
}
#user-info-form>button:hover {
	background: rgb(239,150,50);
	color: white;
}
/*下拉菜单*/
#user-info-form tr>td>select {
	padding: 2px 9px;
}

