
html {
	height: auto;
}
body {
	margin: 0;
	padding:0;
	font-size: 16px;
	font-family: "Arial","Hiragino Sans GB", "Helvetica", "sans-serif";
	min-width: 1080px;
/*	background: rgb(246,246,246);*/

	/*滚动条样式*/
	scrollbar-arrow-color: gray; /*上下按钮上三角箭头的颜色*/
	scrollbar-face-color: #CBCBCB; /*滚动条凸出部分的颜色*/
	scrollbar-3dlight-color: #CBCBCB; /*滚动条亮边的颜色*/
	scrollbar-highlight-color: #333; /*滚动条空白部分的颜色*/
	scrollbar-shadow-color: #CBCBCB; /*滚动条阴影的颜色*/
	scrollbar-darkshadow-color: gray; /*滚动条强阴影的颜色*/
	scrollbar-track-color: #CBCBCB; /*滚动条背景颜色*/
	scroll-behavior:smooth;
	scrollbar-base-color: #a5a5a5; /*滚动条的基本颜色*/
	Cursor:url(mouse.cur); /*自定义个性鼠标*/
	/*以上2项适用与：body、div、textarea、iframe*/
}


::-webkit-scrollbar {  /* 滚动条整体部分 */
	width:5px;
}
::-webkit-scrollbar-button { /* 滚动条两端的按钮 */
	width:1px;
	height: 0px;
/*	background-color: yellow;*/
}
::-webkit-scrollbar:horizontal {/* 滚动条整体部分 */
	height:5px;
	margin-bottom:2px
}
::-webkit-scrollbar-track {  /* 外层轨道 */
	border-radius: 10px;
}
::-webkit-scrollbar-track-piece {  /*内层轨道，滚动条中间部分，也就是滚动条的背后 */
	background-color: rgb(221,221,221);
}
::-webkit-scrollbar-thumb {  /* 滑块 */
	width:5px;
	border-radius: 5px;
	background: rgb(177,177,177);
}
::-webkit-scrollbar-corner { /* 边角 */
	width: 5px;
	background-color: rgb(221,221,221);
}
::-webkit-scrollbar-thumb:hover { /* 鼠标移入滑块 */
	background: #909090;
}
/*最近的活动滚动+滚动条隐藏*/
#recent-activites {
	overflow-y: scroll;
}
#recent-activites::-webkit-scrollbar { 
	width:0; 
}





/*页眉*/
header {
	display: block;
	height: 80px;
	width: 100%;
	min-width: 1080px;	
}

.head-container {
	display: flex;
	width:100%;
	min-width: 1075px;	
	align-items:center;
	height: 65px;
	font-size: 16px;
	background: white;
	box-shadow: 0 2px 14px 0 rgba(28,31,33,.2); 
	z-index: 101;
}
/*页面logo*/
.head-item-logo {
	width: 200px;
	margin-left: 5%;
}
/*搜索框*/
.head-item-search {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}
.head-item-search input {
	width: 200px; 
	height: 30px; 
	background: url(../../logo/search.png) no-repeat 95%;
}
/*用户姓名*/
.head-item-user {
	border-right: 1px solid #DADADA; 
	padding: 5px 20px 5px 50px;
	color: #F5F5F5;
	cursor: pointer;
}
.head-item-user:hover {
	color: rgb(250,125,60);
	text-decoration: none;
}
.head-item-user span i{
	font-size: 16px; 
}
.head-item-user span{
	margin-left: 3px;
}
#user-info-check {
	display: flex; 
	justify-content: center; 
	height: 40px; 
	font-size: 10px;
}
.user-info-check-item {
	text-align: center; 
	padding:0 15px; 
	border-right: 1px solid #DADADA;
}
.user-info-check-num {
	font-size:18px;  
	font-weight: 550;
}
.user-info-check-name {
	color: #9D9D9D;
}



/*导航*/
.head-item-nav ul {
	margin: 0 20px 0 0;
	padding-left: 20px;
	list-style: none;
}
/*导航1*/
.head-item-nav ul li {
	display: inline;
	width: 100px;
}
.head-item-nav ul li a{
	color: ;
}
/*导航1-1功能项*/
.nav-left ul li {
	padding: 0 20px;
}
/*导航1-2登陆*/
.nav-right ul li {
	padding: 0 5px;
	cursor: pointer; 
}
.nav-right ul li i:hover {
	color: rgb(250,125,60);
}
.nav-right ul li i {
	font-size: 17px;
	color: #F5F5F5;
}

.nav-left ul li a {
	text-decoration: none;
	color: black;
}
/*登录弹框按钮*/
#popLoginBox {
	background: #027e89; 
	line-height: 20px; 
	color: white; 
	padding: 6px 17px; 
	font-size: 15px;
}
/*注册弹框按钮*/
#popRegisterBox {
	font-size: 15px; 
	color: #a3a7a7
}








#page-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;	

}

#feature {
	width: 70%;
}

#feature-item {
	height: 80px;
	background: white;
	box-shadow: 0 0 10px 0 rgba(28,31,33,.2);
	border-radius: 5px;
	margin-bottom: 13px;
}
#feature-item ul {
	list-style: none;
	display: flex;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	padding: 0 35px;
	margin-bottom: 13px;
}
#feature-item ul li a i{
	display: block;
	text-align: center;
	font-size: 30px;
	margin-bottom: 5px;
}
#feature-item ul li a {
	text-decoration: none;
}
#feature-item ul li a span{
	color: #333;
}
/*个人信息*/
#func-personal-info a {
	color: #0065da;
}
#func-personal-info :hover, #func-personal-info a:hover span {
	color: #0F4685;
}

/*我的活动*/
#func-my-activites a {
	color: #0EB7C1;
}
#func-my-activites :hover, #func-my-activites a:hover span {
	color: #078a92;
}
/*素拓申报*/
#func-st-declaration a {
	color: #34b05f;
}
#func-st-declaration :hover, #func-st-declaration a:hover span {
	color: #00d048;
}
/*证书经历*/
#func-certificate a {
	color: #FF8D3C;
}
#func-certificate :hover, #func-certificate a:hover span {
	color: #FF7400;
}
/*上传材料*/
#func-upload-file a {
	color: #F23451;
}
#func-upload-file :hover, #func-upload-material a:hover span {
	color: #da3d78;
}
/*统计分析*/
#func-statistical a {
	color: #0f7f89;
}
#func-statistical :hover, #func-statistical a:hover span {
	color: #006871;
}









#feature-item-info {
	height: 464px;
	margin-bottom: 10px;
	background: white;
	box-shadow: 0 0 10px 0 rgba(28,31,33,.2);
	border-radius: 5px;
}











#sidebar {
	width: 20%;	
	display: flex;
	flex-direction: column;
	min-height: 550px;	
}


#user-info {
	height:190px;
	position: relative;
	margin: 0 0 13px 13px;
	background: white;
	box-shadow: 0 2px 7px 0 rgba(28,31,33,.2);
	border-radius: 5px;

}

#user-info-bg {
	width: 100%;
	height: 40%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: rgb(0,104,113);
	box-shadow: 0 0 10px 0 rgba(28,31,33,.1);
}

#user-info-circle {
	margin: 10px auto; 
	border-radius:50%;
	width: 76px; 
	height:76px; 
	background: white;

}

#user-info-circle>img {
	width: 70px; 
	margin: 3px 3px;

}







#recent-activites {
	height:355px;
	margin-left: 13px;
	background: white;
	box-shadow: 0 0 10px 0 rgba(28,31,33,.2);
	border-radius: 5px;
}
#recent-activites  ul{
	display: inline-block; 
	list-style: none; 
	width:100%; 
	padding: 0px;
}
#recent-activites ul li:first-child {
	text-align: center; 
	font-size: 17px; 
	line-height: 42px; 
	background: #006871; 
	color: white; 
	border-top-right-radius: 5px;  
	border-top-left-radius: 5px;
}
#recent-activites ul li {
	cursor: pointer;
}
#recent-item-title:hover {
	border-bottom: solid 3px #ef9632;
}

/*小图标123*/
.icon {
	display: inline-block;
	font-size: 12px;
	height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #6f6f6f;
    font-style: normal;
    padding: 0px;
    margin: 0 5px;
}

.icon2 {
	border-color: #ef9632;
	background: #ef9632;
	color: #fff;
	text-align: center;
}

/*最近的活动-活动名称li之间的距离*/
#recent-activites ul li {
	padding: 4px;
}

.recent-activites-item a {
	color: #333;
}
.recent-activites-item a:hover {
	text-decoration: none;
	color: white;
}

.recent-activites-item:hover a{
	color: white;
}
.recent-activites-item:hover{
	background: #006871;
} 