
html {
	min-height: 700px;
	position: relative;	
}
body {
	margin: 0;
	padding:0;
	font-size: 16px;
	font-family: "Arial","Hiragino Sans GB", "Helvetica", "sans-serif";
	min-width: 1080px;

/*	background: rgb(246,246,246);*/

	/*滚动条样式*/
	scrollbar-arrow-color: gray; /*上下按钮上三角箭头的颜色*/
	scrollbar-face-color: #CBCBCB; /*滚动条凸出部分的颜色*/
	scrollbar-3dlight-color: #CBCBCB; /*滚动条亮边的颜色*/
	scrollbar-highlight-color: #333; /*滚动条空白部分的颜色*/
	scrollbar-shadow-color: #CBCBCB; /*滚动条阴影的颜色*/
	scrollbar-darkshadow-color: gray; /*滚动条强阴影的颜色*/
	scrollbar-track-color: #CBCBCB; /*滚动条背景颜色*/
	scroll-behavior:smooth;
	scrollbar-base-color: #a5a5a5; /*滚动条的基本颜色*/
	Cursor:url(mouse.cur); /*自定义个性鼠标*/
	/*以上2项适用与：body、div、textarea、iframe*/
}


::-webkit-scrollbar {  /* 滚动条整体部分 */
	width:5px;
}
::-webkit-scrollbar-button { /* 滚动条两端的按钮 */
	width:1px;
	height: 0px;
/*	background-color: yellow;*/
}
::-webkit-scrollbar:horizontal {/* 滚动条整体部分 */
	height:5px;
	margin-bottom:2px
}
::-webkit-scrollbar-track {  /* 外层轨道 */
	border-radius: 10px;
}
::-webkit-scrollbar-track-piece {  /*内层轨道，滚动条中间部分，也就是滚动条的背后 */
	background-color: rgb(221,221,221);
}
::-webkit-scrollbar-thumb {  /* 滑块 */
	width:5px;
	border-radius: 5px;
	background: rgb(177,177,177);
}
::-webkit-scrollbar-corner { /* 边角 */
	width: 5px;
	background-color: rgb(221,221,221);
}
::-webkit-scrollbar-thumb:hover { /* 鼠标移入滑块 */
	background: #909090;
}




/*页眉*/
header {
	display: block;
	height: 75px;
	width: 100%;
	min-width: 1080px;	
}

.head-container {
	display: flex;
	width:100%;
	min-width: 1075px;	
	align-items:center;
	height: 60px;
	font-size: 16px;
	background: white;
	box-shadow: 0 2px 14px 0 rgba(28,31,33,.2); 
	z-index: 101;
}
/*页面logo*/
.head-item-logo {
	width: 200px;
	margin-left: 5%;
}
/*搜索框*/
.head-item-search {
	display: flex;
	flex-grow: 1;
}

/*用户姓名*/
.head-item-user {
	border-right: 1px solid #DADADA; 
	padding: 5px 20px 5px 50px;
	color: #F5F5F5;
	cursor: pointer;
}
.head-item-user:hover {
	color: rgb(250,125,60);
	text-decoration: none;
}
.head-item-user span i{
	font-size: 16px; 
}
.head-item-user span{
	margin-left: 3px;
}
/*审核数量*/
#user-info-check {
	display: flex; 
	justify-content: center; 
	height: 40px; 
	font-size: 10px;
}
.user-info-check-item {
	position: relative;
	text-align: center; 
	padding:0 20px; 
	border-right: 1px solid #DADADA;
}
.user-info-check-num {
	font-size:18px;  
	font-weight: 550;
}
.user-info-check-name {
	color: #9D9D9D;
}

/*new icon的样式*/
/*.iconNew {
	position: absolute;
	color: #FFC844;
	font-size: 8px;
	top: -7px;
	right: 0;
	text-shadow: 1px 1px gray;
}*/







/*总栏一整条*/
.head-item-nav>ul>li {
	display: inline;
}
/*一级导航栏*/
#navLeft ul {
	display: flex;
	align-items: center;
	height: 60px;
	margin: 0;
}
/*一级导航栏功能项*/
#navLeft ul li {
	position: relative;
	padding: 19px 0px;
	cursor: pointer;
}
#navLeft ul li:hover {
	background: rgb(255,141,60);
}
#navLeft>ul>li>a {
	text-decoration: none;
	padding: 19px 20px;
	color: white;
	height: 60px;
}
/*隐藏二级菜单*/
#navLeft ul li ul {
	display: none;	
	list-style: none;
	position: absolute;
	width: auto;
	top: 100%;
	left: 0;
	min-width: 104px;
	padding: 0px;
}
#navLeft ul li ul li {	
	width: auto;
	background: #004e55;
	padding: 10px 20px;
}
#navHide>li>ul>li>a {
	text-decoration: none;
	color: white;
}






/*右侧信件/设置标记*/
#navRight ul {
	display: flex;
	align-items: center;
	height: 60px;
	margin: 0;
	padding: 0 30px 0 15px;
}
#navRight ul li {
	padding: 0 5px;
	cursor: pointer; 
}
#navRight ul li i:hover {
	color: rgb(250,125,60);
}
#navRight ul li i {
	font-size: 17px;
	color: #F5F5F5;
}



#page-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 63px;
}

#main-wrapper {
	position: relative;
	border-radius: 3px;
	box-shadow: 0 2px 14px 0 rgba(28,31,33,.2);	
	width: 71%; 
	height: auto;
	min-height: 560px;
}





#sidebar {
	width: 19%;	
	min-width: 220px;
	display: flex;
	flex-direction: column;
/*	min-height: 550px;	*/
}


#sidebarItem {
	height:330px;
	position: relative;
	margin: 0 13px 13px 0 ;
	background: white;
	box-shadow: 0 2px 7px 0 rgba(28,31,33,.2);
	border-radius: 3px;
}
/*欢迎那part*/
#sidebarHead p {
	color: #ADADAD;
	font-size: 10px;
	padding-left: 10px;
}
#sidebarHead p:first-child{
	color: white;
	font-size: 17px;
	text-align: center; 
	margin: 15px;
}
.user-name {
	font-weight: 550;
}


#user-info-bg {
	width: 100%;
	height: 130PX;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background: #006871;
	box-shadow: 0 0 10px 0 rgba(28,31,33,.1);
}
/*目录的样式*/
#content ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#content ul li {
	font-size: 15px;
}
#content ul li:hover {
	background: #F1F1F1;
	color: #006871;
	cursor: pointer;
}
#content ul li a {
	display: block;
	padding: 12px 10px 10px 20px;
	text-decoration: none;
	color: gray;
}
#content ul li a i {
	font-size: 17px;
}
/*左右两边图标float*/
#content ul li a :first-child {
	float: left;
	padding-top: 2px;
}
#content ul li a :last-child {
	float: right;
	color: #DADADA;
}
#content ul li a span {
	padding-left: 20px;
}











#main-wrapper div ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#main-wrapper div ul li {
	display: inline-block;
	cursor: pointer;
}
#main-wrapper div ul li a {
	text-decoration: none;
	font-size: 15px;
	color: #333;
	display: block;
	padding: 13px 25px;
}

#main-wrapper div ul li a:hover {
	background: #006871;
	color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.checkActive a {
	background: #006871;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

