/*状态下拉菜单*/
#stClassify {
	position: relative;	
	float: right;
	width: 80px;
	list-style: none;
	font-size: 15.5px;
	color: #9D9D9D;
	padding-top: 20px;
	letter-spacing: 1px;
	z-index: 111;
}
#stClassify li ul {
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	list-style: none;
	font-size: 14px;
	padding: 7px 0;
	color: #9D9D9D;
	border-radius: 5px;
	border: 1px solid rgb(225,225,225);
	background: white;
	box-shadow: 0 7px 10px 0 rgba(28,31,33,.1);
	letter-spacing: 1px;
}
#stClassify li ul li a {
	text-decoration: none;
	color: gray;
	padding: 7px 15px;
	line-height: 25px;
}
#stClassify li ul li :hover {
	background: rgb(240,240,240);
	color: black;
}

#searchDiv form {
	float: right;
	display: inline-block;
	margin-right: 50px;
	margin-top: 7px;
}
.row div div input {
	width: 150px;
}



/*素拓审核表格*/
#checkSt {
	max-width: 920px;
	margin: 15px auto;

}
#checkSt tr th {
	padding: 11px;
	background: #006871;
	text-align: center;
	color: white;
	border: 1px solid #DADADA;
}
/*第一列-姓名-的行宽*/
#checkSt tr th:nth-child(1) {
	width: 90px;
}
/*第二列-学号-的行宽*/
#checkSt tr th:nth-child(2) {
	width: 100px;
}
/*第三列-活动-名称-的行宽*/
#checkSt tr th:nth-child(3) {
	width: 260px;
}
/*第四列-主办方-的行宽*/
#checkSt tr th:nth-child(4) {
	width: 110px;
}
/*第五列-活动类型-的行宽*/
#checkSt tr th:nth-child(5) {
	width: 105px;
}
/*第六列-活动时间-的行宽*/
#checkSt tr th:nth-child(6) {
	width: 85px;
}
/*第七列-申报时间-的行宽*/
#checkSt tr th:nth-child(7) {
	width: 85px;
}
/*第八列-操作-的行宽*/
#checkSt tr th:nth-child(8) {
	width: 85px;
}

#checkSt tr td {
	text-align: center;
	font-size: 13px;
	padding: 8px;
	border: 1px solid #DADADA;
}
.fa-times-circle {
	color: #e00000;	
}
.fa-check-circle {
	color: #00c938;	
}
.checkBtn i {
	font-size: 20px;
}
#checkSt tr:nth-child(odd) {
	background-color: #F7FFFF;
}