/*提交按钮*/
#upload {
	width: 425px;
	background: #006871;
	font-size: 16px;
	color: white;
	margin: 40px 0 25px 0;
}
#upload:hover {
	background: rgb(239,150,50);
	color: white;
}
/*重置按钮*/
#resetBtn {
	width: 425px;
	font-size: 16px;
	color: gray;
}
#resetBtn:hover {
	background: #CCC;
	color: #333;
}

.form-group {
	margin: 30px 0;
}
.control-label {
	margin-top: 7px;
	font-size: 15px;
}
/*必填副号*红色显示*/
.control-label span {
	color: red;
}